<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>AirlineApplication1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchServlet1</display-name>
    <servlet-name>SearchServlet1</servlet-name>
    <servlet-class>com.nt.Controller.SearchServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet1</servlet-name>
    <url-pattern>/SearchServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTicketServlet</display-name>
    <servlet-name>BookTicketServlet</servlet-name>
    <servlet-class>com.nt.Controller.BookTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicketServlet</servlet-name>
    <url-pattern>/BookTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateTicketServlet</display-name>
    <servlet-name>GenerateTicketServlet</servlet-name>
    <servlet-class>com.nt.Controller.GenerateTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateTicketServlet</servlet-name>
    <url-pattern>/GenerateTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.nt.Controller.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalTicketServlet</display-name>
    <servlet-name>FinalTicketServlet</servlet-name>
    <servlet-class>com.nt.Controller.FinalTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalTicketServlet</servlet-name>
    <url-pattern>/FinalTicketServlet</url-pattern>
  </servlet-mapping>
</web-app>